" put your custom config here
" to override the default config

set relativenumber
let g:instant_username = "blinfoldking"

" setting for linter
let g:fortissax_lint_cpp = []
let g:fortissax_lint_c = []
let g:fortissax_lint_go = []
let g:fortissax_lint_cmake = []
let g:fortissax_lint_javascript = []
let g:fortissax_lint_fennel = []
let g:fortissax_lint_glsl = []
let g:fortissax_lint_kotlin = []
let g:fortissax_lint_lua = []
let g:fortissax_lint_nix = []
let g:fortissax_lint_php = []
let g:fortissax_lint_python = []
let g:fortissax_lint_ruby = []
let g:fortissax_lint_markdown = []
let g:fortissax_lint_yaml = []

" setting for formatter
let g:fortissax_formatter_c = "0"
let g:fortissax_formatter_cs = "0"
let g:fortissax_formatter_go = "0"
let g:fortissax_formatter_sh = "0"
let g:fortissax_formatter_cpp = "0"
let g:fortissax_formatter_css = "0"
let g:fortissax_formatter_lua = "0"
let g:fortissax_formatter_zig = "0"
let g:fortissax_formatter_fish = "0"
let g:fortissax_formatter_html = "0"
let g:fortissax_formatter_json = "0"
let g:fortissax_formatter_ruby = "0"
let g:fortissax_formatter_rust = "0"
let g:fortissax_formatter_toml = "0"
let g:fortissax_formatter_yaml = "0"
let g:fortissax_formatter_cmake = "0"
let g:fortissax_formatter_ocaml = "0"
let g:fortissax_formatter_elixir = "0"
let g:fortissax_formatter_python = "0"
let g:fortissax_formatter_svelte = "0"
let g:fortissax_formatter_graphql = "0"
let g:fortissax_formatter_markdown = "0"
let g:fortissax_formatter_typescript = "0"
let g:fortissax_formatter_javascript = "0"
let g:fortissax_formatter_javascriptreact = "0"
let g:fortissax_formatter_typescriptreact = "0"
